<%= content_for :page_title, 'About Page' %>
<%= content_for :page_description, 'This is the About Page' %>

<div>
  <h1 class="pt-6 pb-2 text-4xl font-semibold">Pages#about</h1>
  <p>Find me in app/views/pages/about.html.erb</p>
</div>
