<%= content_for :page_title, 'Home Page' %>
<%= content_for :page_description, 'This is the Home Page' %>

<div>
  <h1 class="pt-6 pb-2 text-4xl font-semibold">H1 - Pages#index</h1>
  <p>Find me in app/views/pages/index.html.erb</p>

  <h2 class="pt-6 pb-1 text-3xl font-semibold">H2 - Pages#index</h2>
  <p>Find me in app/views/pages/index.html.erb</p>

  <h3 class="pt-5 pb-0 text-2xl font-semibold">H3 - Pages#index</h3>
  <p>Find me in app/views/pages/index.html.erb</p>

  <h4 class="pt-4 pb-0 text-xl font-semibold">H4 - Pages#index</h4>
  <p>Find me in app/views/pages/index.html.erb</p>
</div>
